[submodule "c/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
	branch = 5.0
[submodule "c/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui
	branch = 4.0
